<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img src="../img/logo.webp" alt="logo">

            <!-- Menu -->
            <ul id="menu-utama">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Nasional</a></li>
                <li><a href="#">Internasional</a></li>
                <li><a href="#">Ekonomi</a></li>
            </ul>

            <!-- Form Search -->
            <form action="#">
                <input type="text" name="search">
            </form>
        </div>

        <div id="content">
            <div class="sub-artikel">
                <h2>China Bidik Pertumbuhan Ekonomi 5 Persen Tahun Ini</h2>

                <a href="">CNN Indonesia</a>
                <h6>Rabu, 06 Mar 2024 08:30 WIB</h6>

                <img src="../img/China.jpeg" alt="Gambar Artikel">
                <p><b>Jakarta, CNN Indonesia --</b> China menargetkan pertumbuhan ekonomi 5 persen pada 2024. Selain itu, Negeri Tirai Bambu itu juga akan menekan risiko kegagalan pembangunan.
                    Perdana Menteri Li Qiang berjanji mengubah model pembangunan negaranya yang dinilai gagal hingga berujung bangkrut.
                    
                    "Target ini tidak mudah. Tapi, kita harus terus maju, kita lakukan transformasi model pertumbuhan, sesuaikan struktural, meningkatkan kualitas dan kinerja," ujar Li dalam Sidang Kongres Rakyat Nasional China (NPC) seperti dikutip Reuters, Selasa (5/3).</p>
                    <p>Saat ini, China sedang menghadapi naiknya jumlah pengangguran usia produktif. Karenanya, ekonomi terbesar kedua ini dunia ini ingin menciptakan 12 juta lapangan kerja baru dan inflasi konsumen di 3 persen.</p>
                    <p>Tak berhenti di situ, pemerintah juga ingin menekan defisit anggaran dari 3,8 persen jadi 3 persen dan terbitkan obligasi negara jangka panjang.

                        Obligasi jangka panjang itu akan bernilai 1 triliun yuan atau sekitar Rp2,1 kuadriliun (asumsi kurs Rp2,192 per yuan).
                        
                        Kepala Analis Makro Soochow Securities Tao Chuan berpendapat ekonomi Tiongkok sulit melaju 5 persen tahun ini.
                        
                        "Lebih sulit capai 5 persen tahun ini dibandingkan tahun lalu karena angka dasar menjadi lebih tinggi," kata Tao.</p>
                        <p>Pada awal 2024, ekonomi China memang kurang menonjol dengan penurunan nilai pasar saham hingga terkena deflasi terburuk sejak krisis keuangan global pada 2008-2009.

                            Hal itu membuat tekanan baru kepada pemerintah setempat untuk segera ambil kebijakan baru.
                            
                            Namun, Li tidak menjelaskan terkait garis waktu dan informasi aktual lainnya mengenai perubahan struktural dalam persidangan itu.
                            
                            Sementara, Dana Moneter Internasional (IMF) memprediksi pertumbuhan ekonomi China tahun ini 4,6 persen, dan turun jadi 3,5 persen pada 2028.</p>

                    
            </div>
            
        </div>
        <div id="sidebar">
            <h2>Who We Are?</h2>
            <p>Kami adalah mahasiswa PLJ Kampus Cimone prodi KA yang sedang brlajar membuat website portal sederhana menggunakan bahsa pemrograman HTML...</p>

            <H2>Artikel berdasarkan kategori</H2>
            <ul>
                <li><a href="#">Olahraga</a></li>
                <li><a href="#">Politik</a></li>
                <li><a href="#">Makanan</a></li>
            </ul>
        </div>
        <div id="footer">
            <p>Eka Alfiyah R &copy; 2024</p>
        </div>
    </div>
</body>
</html>