<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img src="../img/logo.webp" alt="logo">

            <!-- Menu -->
            <ul id="menu-utama">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Nasional</a></li>
                <li><a href="#">Internasional</a></li>
                <li><a href="#">Ekonomi</a></li>
            </ul>

            <!-- Form Search -->
            <form action="#">
                <input type="text" name="search">
            </form>
        </div>

        <div id="content">
            <div class="sub-artikel">
                <h2>Ahli BRIN Ungkap Syarat Awal Puasa dan Lebaran di RI Bisa Seragam</h2>

                <a href="">CNN Indonesia</a>
                <h6>Rabu, 06 Mar 2024 09:04 WIB</h6>

                <img src="../img/Puaasa.jpeg" alt="Gambar Artikel">
                <p></p>
                    <p><b>Jakarta, CNN Indonesia -- </b>Awal bulan Ramadan dan Idulfitri di Indonesia tahun ini kembali berpotensi berbeda antara pemerintah dengan Muhammadiyah. Bagaimana caranya agar awal bulan puasa dan lebaran di Indonesia bisa bersamaan?
                    Profesor Riset Astronomi-Astrofisika, Badan Riset dan Inovasi Nasional (BRIN) Thomas Djamaluddin, di kanal Youtube pribadinya yang tayang Minggu (3/3), mengatakan ada syarat dan ketentuan agar penentuan awal puasa dan lebaran bisa sama.
                        
                    Ia menjelaskan penyebab utama perbedaan penentuan awal Ramadan, Idulfitri dan Iduladha yang terus berulang adalah karena masih nihil kesepakatan terkait dengan kriteria awal bulan hijriah.</p>
                    <p>Berdasarkan prakiraan astronomis terkini, ketinggian hilal dan elongasi pada 10 Maret diprediksi kurang dari 3 derajat dan 6,4 derajat. Angka ini masih di bawah kriteria hasil kesepakatan Menteri-menteri Agama Brunei Darussalam, Indonesia, Malaysia, dan Singapura (MABIMS).

                    Sementara, Muhammadiyah jauh-jauh hari memutuskan awal Ramadhan 2024 pada 11 Maret lantaran patokan bulan baru tak sebesar kriteria MABIMS.</p>
                    <p>Menag Yaqut Cholil Qoumas pun, dalam surat edarannya, mengimbau umat Islam menjaga tolerasi terkait potensi perbedaan awal 1 Ramadhan 1445 H.

                    Thomas melanjutkan perlu terpenuhi tiga prasyarat agar penyatuan kalender islam dapat terjadi, yakni terdapat kriteria tunggal berdasarkan data astronomi, otoritas tunggal, dan kesepakatan garis tanggal.</p>
                    <p>Sementara, sampai saat ini ketiganya masih belum menemukan kesepakatan dan titik terang. Dia pun menyarankan perlu komunikasi lebih lanjut untuk mencari titik temu di tingkat nasional, regional, dan global.

                    "Untuk kriteria masih beragam, belum ada otoritas tunggal, dan garis tanggal yang belum mencapai kesepakatan, sehingga diperlukan dialog untuk mencari titik temu di tingkat nasional, regional, dan global," kata Thomas, yang merupakan mantan Kepala Lembaga Penerbangan dan Antariksa Nasional (LAPAN) itu.
                        
                    Penyatuan kalender Islam <br>
                    Unifikasi kalender hijriyah sempat menjadi semangat banyak pihak, karena diharapkan dengan unifikasi ini tidak terjadi lagi perbedaan awal Ramadan, Idulfitri, dan Iduladha.
                        
                    Unifikasi merupakan upaya yang dilakukan dengan dialog untuk menyamakan kriteria hisab (perhitungan) yang selaras dengan kriteria rukyat (pengamatan).</p>
                    <p>Kriteria titik temu itu adalah kriteria imkan rukyat atau visibilitas hilal. Dasarnya adalah data astronomi jangka panjang.

                    "Penentuan awal bulan memerlukan kriteria agar bisa disepakati bersama. Rukyat memerlukan verifikasi kriteria untuk menghindari kemungkinan rukyat keliru dan Hisab tidak bisa menentukan masuknya awal bulan tanpa adanya kriteria," ujar Thomas.
                        
                    "Sehingga kriteria menjadi dasar pembuatan kalender berbasis hisab yang dapat digunakan dalam prakiraan rukyat," lanjut dia.</p>
                    <p>Penggunaan kriteria MABIMS
                        Dalam menentukan bulan baru hijriah, pemerintah mengacu pada kesepakatan MABIMS. Indonesia pertama kali menggunakan kriteria ini pada 2022.
                        
                    Jika sebelumnya kriteria hilal (bulan) awal Hijriyah adalah ketinggian 2 derajat, elongasi 3 derajat, dan umur bulan 8 jam, MABIMS mengubahnya menjadi ketinggian hilal 3 derajat dan elongasi 6,4 derajat.
                        
                    Kriteria baru MABIMS ini berdasarkan batasan minimal untuk terlihatnya hilal (imkan rukyat atau visibilitas hilal).</p>
                    <p>isis hilal yang dinyatakan dengan parameter elongasi (jarak sudut bulan-matahari) minimum 6,4 derajat, dan fisis gangguan cahaya syafak (cahaya senja) yang dinyatakan dengan parameter ketinggian minimum 3 derajat.

                    "Kriteria MABIMS (3-6,4 derajat) telah mempertimbangkan lompatan agar tidak terlalu besar seperti kriteria Instanbul (5-8 derajat). Kriteria Baru MABIMS dapat berperan sebagai titik temu hisab dan rukyat dengan mengadopsi data rukyat jangka panjang dengan parameter yang mudah dihisab," ungkap dia.
                        
                    "Kriteria ini juga memiliki potensi menjadi dasar kriteria kalender hijriyah regional ASEAN. Kalender regional lebih baik daripada kalender global yang menimbulkan kontroversi dalam implementasi ibadah," pungkas Thomas.</p>
                    
            </div>
            
        </div>
        <div id="sidebar">
            <h2>Who We Are?</h2>
            <p>Kami adalah mahasiswa PLJ Kampus Cimone prodi KA yang sedang brlajar membuat website portal sederhana menggunakan bahsa pemrograman HTML...</p>

            <H2>Artikel berdasarkan kategori</H2>
            <ul>
                <li><a href="#">Olahraga</a></li>
                <li><a href="#">Politik</a></li>
                <li><a href="#">Makanan</a></li>
            </ul>
        </div>
        <div id="footer">
            <p>Eka Alfiyah R &copy; 2024</p>
        </div>
    </div>
</body>
</html>