<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img src="../img/logo.webp" alt="logo">

            <!-- Menu -->
            <ul id="menu-utama">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Nasional</a></li>
                <li><a href="#">Internasional</a></li>
                <li><a href="#">Ekonomi</a></li>
            </ul>

            <!-- Form Search -->
            <form action="#">
                <input type="text" name="search">
            </form>
        </div>

        <div id="content">
            <div class="artikel">
                <img src="../img/madame.png" alt="Gambar Artikel">
                <h2>Dakota Johnson Enggan Jadi Madame Web Lagi, Rabu, 6 Maret</h2>
                <p>Dakota Johnson memastikan dirinya enggan kembali berperan sebagai Madame Web.    Alasannya sederhana, ia merasa tak cocok di dunia superhero.
                    Meski begitu, dalam wawancara dengan Bustle yang diberitakan Entertainment Weekly pada Selasa (5/4), Johnson mengakui bermain dalam Madame Web "jelas sebuah pengalaman".</p>
                    <a href="artikel1.html">Baca Selengkapnya....</a>
            </div>
            <div class="artikel">
                <img src="../img/Puaasa.jpeg" alt="Gambar Artikel">
                <h2>Ahli BRIN Ungkap Syarat Awal Puasa dan Lebaran di RI Bisa Seragam. Rabu, 6 Maret</h2>
                <p>Awal bulan Ramadan dan Idulfitri di Indonesia tahun ini kembali berpotensi berbeda antara pemerintah dengan Muhammadiyah. Bagaimana caranya agar awal bulan puasa dan lebaran di Indonesia bisa bersamaan? <br>
                Profesor Riset Astronomi-Astrofisika, Badan Riset dan Inovasi Nasional (BRIN) Thomas Djamaluddin, di kanal Youtube pribadinya yang tayang Minggu (3/3), mengatakan ada syarat dan ketentuan agar penentuan awal puasa dan lebaran bisa sama</p>
                    <a href="artikel2.html">Baca Selengkapnya....</a>
            </div>
            <div class="artikel">
                <img src="../img/China.jpeg" alt="Gambar Artikel">
                <h2>China Bidik Pertumbuhan Ekonomi 5 Persen Tahun Ini. Rabu, 6 Maret</h2>
                <p>China menargetkan pertumbuhan ekonomi 5 persen pada 2024. Selain itu, Negeri Tirai Bambu itu juga akan menekan risiko kegagalan pembangunan.Perdana Menteri Li Qiang berjanji mengubah model pembangunan negaranya yang dinilai gagal hingga berujung bangkrut.
                "Target ini tidak mudah. Tapi, kita harus terus maju, kita lakukan transformasi model pertumbuhan, sesuaikan struktural, meningkatkan kualitas dan kinerja," ujar Li dalam Sidang Kongres Rakyat Nasional China (NPC) seperti dikutip Reuters, Selasa (5/3).</p>
                    <a href="artikel3.html">Baca Selengkapnya....</a>
            </div>
        </div>
        <div id="sidebar">
            <h2>Who We Are?</h2>
            <p>Kami adalah mahasiswa PLJ Kampus Cimone prodi KA yang sedang brlajar membuat website portal sederhana menggunakan bahsa pemrograman HTML...</p>

            <H2>Artikel berdasarkan kategori</H2>
            <ul>
                <li><a href="#">Olahraga</a></li>
                <li><a href="#">Politik</a></li>
                <li><a href="#">Makanan</a></li>
            </ul>
        </div>
        <div id="footer">
            <p>Eka Alfiyah R &copy; 2024</p>
        </div>
    </div>
</body>
</html>